#maintitle {
  font-size: 200%;
  margin-bottom: 5pt;
}

#topnavbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  background-color: #333333;
  padding-top: 15pt;
  padding-bottom: 15pt;
  text-align: center;
  z-index: 999;
}

hr {
  border-left: none;
}

h3 {
  margin-bottom: 0pt;
}

.main {
  margin-left: 15%;
  margin-right: 15%;
  background-color: white;
  padding: 15pt;
}

body {
  background-color: #aaa;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

#topnavbar a {
  text-decoration: none;
  padding-left: 7pt;
  padding-right: 7pt;
  color: white;
}

.section {
  position: relative;
}
div a.anchor {
  position: absolute;
  top: -47pt;
}
