h2 {
    color: lightgoldenrodyellow;
}

h1 {
    color: lightgreen;
}

body {
    font-family: 'Noto Sans', sans-serif;
    background: #333;
    color:lightgray;
}

a {
    color:deepskyblue;
}

.recipe {
    padding-left: 24px;
}

.ingredients {
    border:solid gray;
    padding-left:24px;
    background-color: #3F3F3F;
    color:white;
}

.images {
    height:300px;
}

#fishsauce-img {
    
    max-width:100%;
    max-height:100%;
}